body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 0;
  border: 5px solid black;
}

.box {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}
