p { 
	color:green;
	text-align: center;
	font-weight: 800;
	font-size: 25px;



}

h1 { 
	color:black;
	text-align: center;
	text-decoration: dashed;
	font-weight: 400;
	font-size: large;


}

a {color:greenyellow;
	text-align: end;
	
	font-weight: 800;
	font-size: large;

}