#container {
	width:1000vh;
	height:1000vh;
	background-color: rgb(138, 115, 77);
	


}

.child{
	width:200px;
	height:100px;
	top:300px;
	background-color: rgb(192, 199, 255);
	border:2px rgb(53, 164, 96);
}
	
	
