#parent1{
	width:800px;
	height:800px;
	border:2px red;
	display:flex;
	flex-direction:row;
	gap:15px;
justify-content: flex-start;
}
#parent1 {
	background-color: beige;
	width:200px;
	height:200px;
	border:1px black
}
#parent2{
	width:800px;
	height:800px;
	border:2px red;
	display:flex;
	flex-direction:row;
	gap:15px;
justify-content: flex-start;
}
#parent2{
	background-color: beige;
	width:200px;
	height:200px;
	border:1px black
}

